[Unit]
Description=SnowOS Predictive Optimizer Kernel Layer
Documentation=https://github.com/snowos/core
After=snowos-boot.service snowos-broker.service
Requires=snowos-boot.service

[Service]
RuntimeDirectory=snowos
RuntimeDirectoryMode=0775
Type=simple
# Must run as root to issue renice and cgroup modifications
User=root
ExecStart=/usr/bin/python3 /opt/snowos/kernel_layer/predictive_optimizer/optimizer_daemon.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
