[Unit]
Description=SnowOS Background Update Manager
After=network.target

[Service]
RuntimeDirectory=snowos
RuntimeDirectoryMode=0775
Type=simple
ExecStart=/opt/snowos/core/bin/snowos-updater --daemon
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
